#Lavender
{
    background-color: lavender;
 
}

#Crimson 
{
    background-color: Crimson;
    
}

#Darkblue 
{
    background-color: Darkblue;
  
}

#Teal 
{
    background-color: Teal;
}

#RebeccaPurple 
{
    background-color: RebeccaPurple;
}
#Lime{
    background-color: lime;
}
#GhostWhite{
    background-color: GhostWhite;
}
#AliceBlue{
    background-color: AliceBlue;
}
#AquaMarine{
    background-color: AquaMarine;
}
.div{
    margin-top: 100px;
    margin-left: 415px;
    height: 350px;
    width: 700px;
    border-radius: 50px;
    box-shadow: 5px 5px 9px;
}
.inner{
    padding:10px 690px;
}